/*Custome Login Button Css*/
.custom-button-login {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #8bc34a;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

/*Custome Sign Up Button Css*/
.custom-button-signup {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #e3a653;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
