
/*Setting Open Sans Font on the entire website*/
body {
    font-family: 'Open Sans', sans-serif !important;
}

/* Css effect is at z index 1 putting everything above it*/
.z-index-2 {
    position: relative;
    z-index: 2;
}


