/*Welcome page body changes*/
body {
    background: #50a3a2;
    background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%) fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*Custom Logo Location on the page*/
.custom-logo {
    margin-top: 30px;
}

/*Custom logo for small screen*/
@media (min-width: 320px) and (max-width: 450px) {
    .custom-logo {
        margin-top: 15px;
        width: 150px !important;
        height: 75px !important;
    }
}

/*Text on the welcome page*/
.single-text-center {
    color: white;
    font-size: 24pt;
    height: 100%;
    font-weight: bold;
}

.small-text-center {
    color: white;
    font-size: 16pt;
    height: 100%;
}

/*Custome button on welcome page*/
.custom-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}


/*Rectabge bubbles effect in the background*/
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    /* background-color: fade(white, 15%); */
    bottom: -10px;
    opacity: 0;
    -webkit-animation: fadein 12s infinite, square 24s infinite, fadeout 12s 12s infinite;
    animation: fadein 12s infinite, square 24s infinite, fadeout 12s 12s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 5%;
    -webkit-transition: background-color 10s;
    transition: background-color 10s;
}

.bg-bubbles li:nth-child(2) {
    left: 10%;
    -webkit-transition: 3s;
    transition: 3s;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 15%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 25%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 35%;
}

.bg-bubbles li:nth-child(6) {
    left: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;

}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 70%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;

}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Firefox < 16 */

/* Custom Login */
.custom-login{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}