
 .custom-start-button{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     outline: 0;
     background-color: white;
     border: 0;
     padding: 10px 15px;
     color: #53e3a6;
     border-radius: 3px;
     width: 200px;
     height: 50px;
     cursor: pointer;
     font-size: 18px;
     -webkit-transition-duration: 0.25s;
     transition-duration: 0.25s;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .color-white{
     color: white !important;
 }

 .custom-body{
     font-size: 18pt;
     font-family: 'Open Sans', sans-serif;
     height: 100%;
     width: 100%;
     text-wrap: none;
 }

.custom-title{
    font-weight: bold;
}
